@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');

.rodape {      
    color: white;            
    margin: 0 auto; 
    position: relative;
}

.rodape-link {    
    color: white;
    font-size: 32px; 
    text-decoration: none;
}

span {
    margin: auto;
}

grid-container {
    background-color: rgba(17,144,203,255);    
    border: none;
    display: grid;    
    grid-auto-flow: row;
    grid-auto-rows: 0%;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;    
    padding: 26px;    
}      

grid-item {
    background-color: rgba(17,144,203,255);
    border: none;
    display: flex;    
    font-family: 'Dancing Script', serif;
}

@media screen and (min-width: 0) {
    .rodape {        
        justify-content: center;
        font-size: 16px;
    }

    .rodape-link {    
        color: white;
        font-size: 16px; 
        text-decoration: none;
    }
}
@media screen and (min-width: 720px) {
    .rodape {        
        justify-content: space-between;
    }

    .rodape-link {    
        color: white;
        font-size: 22px; 
        text-decoration: none;
    }
}



