body {
  background-color: #e3f2fd;      
}

.carousel-control, .carousel-control:hover {
  opacity: 1;
  background-color: #e3f2fd;  
}
.carousel-control-next{
  right: 20%;
  opacity: 1;
    filter: invert(1);
}
.carousel-control-prev{
  left: 20%;
  opacity: 1;
  filter: invert(1);
}

.carousel-indicators{
  opacity: 1;
  filter: invert(1);
}

.carrinho-item{
  position: relative;
  margin-left: 10px;
}

.link-carrinho{
  color: black;
}

.link-produto{
  position: absolute;
  margin-top: 350px;
  margin-left: 60px;
  font-size: 20px;
}

.catalogo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #e3f2fd;      
}